<header
  class="header"
  (mouseenter)="togleSideBar()"
  (mouseleave)="togleSideBar()"
>
  <nav class="nav-header">
    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Dashboard'"
    ></app-sidebar-item>
    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Teste'"
    ></app-sidebar-item>

    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Teste2'"
    ></app-sidebar-item>

    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Teste23'"
    ></app-sidebar-item>

    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Teste24'"
    ></app-sidebar-item>

    <app-sidebar-item
      [expanded]="expanded"
      [title]="'Teste25'"
    ></app-sidebar-item>
  </nav>
</header>
